<div class="col-4">
    <h4 class="my-4 text-white text-center">Formulario</h4>
    <form id="contactForm" action="/" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Rut</label>
        <input type="text" class="form-control" id="rut" name="rut" placeholder="Rut">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Curso</label>
        <input type="text" class="form-control" id="curso" name="curso" placeholder="Curso">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nivel</label>
        <input type="text" class="form-control" id="nivel" name="nivel" placeholder="Nivel">
      </div>
     
      <button type="submit" class="btn btn-warning">Enviar</button>
    </form>
</div>